<!doctype html>
<html>
<title>RizzyBeats - Coming soon!</title>
<style>
body{
		text-align:center;
		position:absolute;
		margin:0;
		width:100%;
		margin-top: 5%;
		}
h2,h3{
	color:#555;
	font:bold 200%/100px sans-serif;
	line-height: 55px;
	}
h3,p{
	color:#777;
	font:normal 150% sans-serif
	}
p{font-size: 100%;
	font-style:italic;
	margin-top:2em;
}
img{
	width: 50%;
	max-width: 600px;
}
</style>
<img src="https://c2.staticflickr.com/6/5035/7187433101_e10a1c3abe.jpg" alt="">
<h2>We're rebuilding the site and not quite ready for traffic yet!</h2>
<h3>Maybe check out the <a href="https://soundcloud.com/rizzy_beats">Soundcloud</a> for the time being?</h3>
